@model string;

<div class="row">
    <div class="col-md-6 offset-3">
        <div class="alert alert-primary" role="alert">
            <hr />
            <p class="text-center">@Model</p>
        </div>
        <hr />
    </div>
</div>